@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-foreground: var(--theme-color-foreground);
    --color-background: var(--theme-color-background);
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    :root {
        --theme-color-foreground: hsl(0 0% 8%);
        --theme-color-background: hsl(0 0% 99%);
    }

    [data-theme="dark"] {
        --theme-color-foreground: hsl(0 0% 95%);
        --theme-color-background: hsl(0 0% 3.9%);
    }
}

body {
    color: var(--color-foreground);
    background-color: var(--color-background);
}

h1 {
    @apply text-4xl font-bold my-4;
}

a {
    @apply text-blue-800 dark:text-blue-200 hover:text-red-600 hover:underline font-medium;
}

[data-theme="dark"] [data-icon="logos:x"],
[data-theme="dark"] [data-icon="logos:github-icon"] {
    @apply bg-gray-300;
}
