---
import { Icon } from "astro-icon/components";
---

<div class="flex space-x-4">
    <a
        href="https://www.linkedin.com/in/benfante/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="logos:linkedin-icon" size="24" />
    </a>
    <a
        href="https://bsky.app/profile/luciobenfante.bsky.social"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="logos:bluesky" size="24" />
    </a>
    <a
        href="https://x.com/luciobenfante"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="logos:x" size="24" />
    </a>
    <a
        href="https://mastodon.social/@luciobenfante"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="logos:mastodon-icon" size="24" />
    </a>
    <a
        href="https://github.com/benfante"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="logos:github-icon" size="24" />
    </a>
</div>