---
import TechBadge from './TechBadge.astro'

const techs = [
    { title: "Java", icon: "logos:java", desc: "Java logo" },
    { title: "Spring", icon: "logos:spring-icon", desc: "Spring logo" },
    { title: "Spring Boot", icon: "spring-boot", desc: "Spring Boot logo" },
    { title: "Hibernate", icon: "logos:hibernate", desc: "Hibernate logo" },
    { title: "JOOQ", icon: "jooq-logo-black", desc: "JOOQ logo"},
    { title: "JUnit", icon: "JUnit", desc: "JUnit logo" },
    { title: "Maven", icon: "logos:maven", desc: "Maven logo"},
    { title: "Tomcat", icon: "logos:tomcat", desc: "Tomcat logo" },
    { title: "SQL", icon: "sql", desc: "SQL logo" },
    { title: "PostgreSQL", icon: "logos:postgresql", desc: "PostgreSQL logo" },
    { title: "MySQL", icon: "logos:mysql", desc: "MySQL logo" },
    { title: "MongoDB", icon: "logos:mongodb-icon", desc: "MongoDB logo" },
    { title: "JavaScript", icon: "logos:javascript", desc: "JavaScript logo" },
    { title: "TypeScript", icon: "logos:typescript-icon", desc: "TypeScript logo" },
    { title: "Angular", icon: "logos:angular-icon", desc: "Angular logo" },
    { title: "React", icon: "logos:react", desc: "React logo" },
    { title: "Node.js", icon: "logos:nodejs-icon", desc: "Node.js logo" },
    { title: "NPM", icon: "logos:npm-icon", desc: "NPM logo" },
    { title: "HTML5", icon: "logos:html-5", desc: "HTML5 logo" },
    { title: "CSS3", icon: "logos:css-3", desc: "CSS3 logo" },
    { title: "Tailwind CSS", icon: "logos:tailwindcss-icon", desc: "Tailwind CSS logo" },    
    { title: "Bootstrap", icon: "logos:bootstrap", desc: "Bootstrap logo" },
    { title: "Astro", icon: "logos:astro-icon", desc: "Astro logo" },
    { title: "Next.js", icon: "logos:nextjs-icon", desc: "Next.js logo" },
    { title: "Markdown", icon: "logos:markdown", desc: "Markdown logo" },
    { title: "JSON", icon: "logos:json", desc: "JSON logo" },
    { title: "YAML", icon: "logos:yaml", desc: "YAML logo" },
    { title: "XML", icon: "XML", desc: "XML logo" },
    { title: "Docker", icon: "logos:docker-icon", desc: "Docker logo" },
    { title: "Git", icon: "logos:git-icon", desc: "Git logo" },
    { title: "GitHub", icon: "logos:github-icon", desc: "GitHub logo" },
    { title: "GitLab", icon: "logos:gitlab", desc: "GitLab logo" },
    { title: "Visual Studio Code", icon: "logos:visual-studio-code", desc: "Visual Studio Code logo" },
    { title: "Eclipse", icon: "logos:eclipse-icon", desc: "Eclipse logo" },
    { title: "Vim", icon: "logos:vim", desc: "Vim logo"},
    { title: "DBeaver", icon: "DBeaver", desc: "DBeaver logo" },
    { title: "Postman", icon: "logos:postman-icon", desc: "Postman logo" },
    { title: "Swagger", icon: "logos:swagger", desc: "Swagger logo" },
    { title: "Debian", icon: "logos:debian", desc: "Debian logo"},
    { title: "Linux Mint", icon: "logos:linux-mint", desc: "Debian logo"},
]

---
<div class="flex flex-wrap justify-between">
    {techs.map(tech => (
        <div class="mr-2 mb-2">
            <TechBadge {...tech} />
        </div>
    ))}
</div>
