---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Themes from "astro-themes"
import { languageTag } from "@paraglide/runtime";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Lucio Benfante",
  description = "Pagina personale di Lucio Benfante, sviluppatore software e docente",
}: Props = Astro.props;

import "@styles/global.css";
---

<!doctype html>
<html lang={languageTag()} class="min-h-screen scroll-smooth">
  <head>
    <Themes />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/logo.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="manifest"
      crossorigin="use-credentials"
      href="/site.webmanifest"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} - Lucio Benfante</title>
  </head>
  <body class="mx-1 p-0 md:mx-16 lg:mx-32 min-h-screen">
    <Header/>
    <main class="my-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
