---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Lucio Benfante",
  description = "Pagina personale di Lucio Benfante, sviluppatore software e docente",
}: Props = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="it" class="min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/logo.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="manifest"
      crossorigin="use-credentials"
      href="/site.webmanifest"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="mx-1 p-0 md:mx-16 lg:mx-32 min-h-screen">
    <Header/>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
